[submodule "zsh/zplug"]
	path = zsh/zplug
	url = https://github.com/zplug/zplug
[submodule "i3/i3lock-fancy"]
	path = i3/i3lock-fancy
	url = https://github.com/meskarune/i3lock-fancy
[submodule "ranger/plugins/ranger_devicons"]
	path = ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
